<div fxLayout="row">
    <mat-card fxFlex="50" class="margin-x-1">
        <mat-card-header>
            <mat-card-title>User Avatar</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card fxFlex="50" class="margin-x-1">
        <mat-card-header>
            <mat-card-title>User Account Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form novalidate class="w-100" fxLayout="column" [formGroup]="userForm">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input [readonly]="!editMode" autocomplete="username" formControlName="userName" matInput
                        placeholder="Enter your username">
                    <mat-error *ngIf="errorHandling('userName','required')">
                        Username is <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="errorHandling('userName','minlength')">
                        Username must be at least 5 characters long.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>E-mail</mat-label>
                    <input [readonly]="!editMode" matInput placeholder="Enter your e-mail" formControlName="email">
                    <mat-error *ngIf="errorHandling('email','required')">
                        Email is <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="errorHandling('email','email')">
                        Please enter a valid email address.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input [readonly]="!editMode" autocomplete="name" formControlName="firstName" matInput placeholder="Enter your first name">
                    <mat-error *ngIf="errorHandling('firstName','required')">
                        Please enter a first name.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input [readonly]="!editMode" autocomplete="family-name" formControlName="lastName" matInput
                        placeholder="Enter your last name">
                    <mat-error *ngIf="errorHandling('lastName','required')">
                        Please enter a last name.
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="primary" *ngIf="!editMode" (click)="onEditModeEnable()">Edit</button>
            <button mat-button color="primary" *ngIf="editMode">Save</button>
            <button mat-button *ngIf="editMode" (click)="onCancel()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>