<h1 mat-dialog-title>Do you want to change your password?</h1>
<form mat-dialog-content [formGroup]="form">
  <mat-form-field class="w-100">
    <mat-label>New password</mat-label>
    <input matInput type="password" placeholder="Enter your new password" formControlName="newPassword">
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">No Thanks</button>
  <button mat-button (click)="onUpdateClick()" color="primary" [disabled]="!form.valid">Update</button>
</div>