<div class="menu w-100"></div>
<div class="menu-container w-100" fxLayoutAlign="space-between center">
    <button class="menu-logo-item" routerLink={{dashItem.path}} mat-button>
        <div class="menu-item-content w-100" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="menu-item-icon">print</mat-icon>
            <span class="mat-headline menu-item-text">Printweb</span>
        </div>
    </button>
    <div fxLayout="row">
        <button class="menu-item margin-x-1" routerLinkActive="menu-active-item"
            mat-button routerLink={{item.path}} *ngFor="let item of items">
            {{item.text}}
        </button>
        <button class="menu-item margin-x-1" mat-icon-button routerLink="me">
            {{currentUserShortening}}
        </button>
    </div>
</div>