<div class="menu w-100">
<div class="menu-container" fxLayoutAlign="space-between center">
    <button class="menu-logo-item" routerLink="/" mat-button>
        <div class="menu-item-content w-100" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="menu-item-icon">print</mat-icon>
            <span class="mat-title menu-item-text">Printweb</span>
        </div>
    </button>
    <div fxLayout="row">
        <button class="menu-item margin-x-1" routerLinkActive="menu-active-item"
            mat-button routerLink={{item.path}} *ngFor="let item of items">
            {{item.text}}
        </button>
        <button *ngIf="userAuthenticated" class="menu-item margin-x-1" mat-icon-button routerLink="me">
            {{currentUserShortening}}
        </button>
        <button color="secondary" *ngIf="!userAuthenticated" class="menu-item margin-x-1" mat-icon-button routerLink="signin">
            <mat-icon>face</mat-icon>
        </button>
    </div>
</div>
</div>