@import "../../../../themes/printweb.theme.scss";

.menu {
  background-color: #000;
  opacity: 0.2;
  transition: 0.1s;
  filter: blur(1px);
  position: fixed;
  height: 4em;
}

.menu-container {
  padding-left: 4em;
  padding-right: 4em;
  height: 4em;
  position: fixed;
}

.menu-logo-item .menu-item-text {
  margin: 0;
}

.menu-logo-item .menu-item-content {
  color: mat-color($printweb-primary);
}

.menu-item .menu-item-content {
  color: mat-color($printweb-primary-color)
}

.menu-item-icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  font-size: 32px;
  box-sizing: content-box;
  border-radius: 50%;
  padding: 4px;
}
