<div fxLayout="row" class="h-100">
    <div fxFlex="65" class="image"></div>
    <div fxFlex="35" fxLayout="column" class="margin-x-2" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h2 class="margin-top-2">Printweb</h2>
        </div>
        <div fxLayout="column" class="w-100">
            <div fxLayout="row" fxLayoutAlign="center center">
                <h3 class="margin-y-1">Welcome to Printweb</h3>
            </div>
            <user-account-info [form]="form" [disabled]="loading" [onError]="errorHandling"></user-account-info>
            <button mat-raised-button color="accent" [disabled]="!form.valid || loading" (click)="submit()">
                <span>Sign Up</span>
                <mat-spinner *ngIf="loading" class="loader" diameter="25"></mat-spinner>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button class="margin-bottom-1 secondary-link-button underline" routerLink="/signin">
                Already have an account?
            </button>
        </div>
    </div>
</div>