.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.margin-x-1 {
    margin-left: 1em;
    margin-right: 1em;
}
.margin-y-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.margin-x-2 {
    margin-left: 2em;
    margin-right: 2em;
}
.margin-y-2 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.margin-top-1 {
    margin-top: 1em;
}
.margin-top-2 {
    margin-top: 2em;
}
.margin-bottom-1 {
    margin-bottom: 1em;
}
.margin-bottom-2 {
    margin-bottom: 2em;
}
.underline {
    text-decoration: underline;
}
.margin-right-2 {
    margin-right: 2em;
}